.title{
	font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 59px;
		/* identical to box height */
		letter-spacing: 0.22em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-align: center;
}